@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

.nav-list-link {
    color: #203348;
    font-size: 14px;
    // font-family: 'IBM Plex Serif', sans-serif;
}

.highlight .s2 {
    color: #18B27A;
}

p, li {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
}

h2 {
    color: #0DA8CA;
    font-size: 22px !important;
    font-weight: 400 !important;
}

