$body-background-color: #fff;
$sidebar-color: #F5F5F5;
$border-color: #d2d2d2;

$body-text-color: #203348;
$body-heading-color: #203348;
$nav-child-link-color: #203348;
$search-result-preview-color: #F5F5F5;

$link-color: #0DA8CA;
$btn-primary-color: #0DA8CA;
$base-button-color: #F5F5F5;

$code-background-color: #F5F5F5;
$search-background-color: #929292;
$table-background-color: #929292;
$feedback-color: darken($sidebar-color, 3%);